# LaTeX build artifacts
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.lof
*.lot
*.nav
*.snm
*.vrb
*.dvi
*.ps
*.pdf

# Screenshots
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff

# Allow images in images/ directory
!images/
!images/**
